{% extends "network/layout.html" %}

{% block body %}
    <main id="mainContainer">
    {% if user.is_authenticated %}
        <section id="chirperFormContainer">
            <form action="" method="POST" class="regularForm">
                {% csrf_token %}
                {{ form.chirp|safe }}
                <input class="inline-block rounded-full border-2 border-primary 
                px-6 pt-2 pb-[6px] text-xs font-medium uppercase leading-normal 
                text-primary transition duration-150 ease-in-out mb-1
                hover:border-primary-600"
                id="chirperButton" type="submit" value="Chirp" name="listBtn">
            </form>
        </section>
    {% endif %}
        <section class="readChirpsContainer">
            {% for chirp in chirps reversed %}
                {% for data in profile %}
                    {% if data.user == chirp.user %}
                        <!-- Convert chirp.user into string for proper 'if' conditional assessment using stringformat-->
                        {% with strChirpUser=chirp.user|stringformat:'s' %}
                        {% for account in followingAccounts %}
                            {% if strChirpUser == account.followed %}
            <div class="bg-gray-100 m-2 border px-5 py-2">
                <a href="{{ chirp.user }}" class="hover:no-underline"><p class="font-medium py-1">
                    <img class="chirpProfilePicture" src="{{ data.profilePic }}" alt="Profile picture"> &nbsp; {{ chirp.user }}
                </p></a>
                <li class="list-none text-base mb-2">{{ chirp.chirp }}</li>
                <p class="text-gray-600 text-xs py-2">{{ chirp.date }} | {{ chirp.time }}<span style="float: right">{{ chirp.likes }} likes</span></p>
            </div>
                            {% endif %}
                        {% endfor %}
                        {% endwith %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </section>
    </main>
{% endblock %}