{% extends "network/layout.html" %}

{% block body %}
    <section id="chirperFormContainer">
        <form action="" method="POST" class="regularForm">
            {% csrf_token %}
            {{ form.chirp|safe }}
            <input class="inline-block rounded-full border-2 border-primary 
            px-6 pt-2 pb-[6px] text-xs font-medium uppercase leading-normal 
            text-primary transition duration-150 ease-in-out mb-1
            hover:border-primary-600"
            id="chirperButton" type="submit" value="Chirp" name="listBtn">
        </form>
    </section>
{% endblock %}