{% extends "network/layout.html" %}

{% block body %}
    <main id="mainContainer">
    {% if user.is_authenticated %}
        <section id="chirperFormContainer">
            <form action="" method="POST" class="regularForm">
                {% csrf_token %}
                {{ form.chirp|safe }}
                <input class="inline-block rounded-full border-2 border-primary 
                px-6 pt-2 pb-[6px] text-xs font-medium uppercase leading-normal 
                text-primary transition duration-150 ease-in-out mb-1
                hover:border-primary-600"
                id="chirperButton" type="submit" value="Chirp" name="listBtn">
            </form>
        </section>
    {% endif %}
        <section class="readChirpsContainer">
            {% for chirp in pageObj %}
                {% for data in profile %}
                    {% if data.user == chirp.user %}
            <div class="bg-gray-100 m-2 border px-5 py-2">
                <a href="{{ chirp.user }}" class="hover:no-underline"><p style="display:inline-block" class="font-medium py-1">
                    <img class="chirpProfilePicture" src="{{ data.profilePic }}" alt="Profile picture"> &nbsp; {{ chirp.user }}
                </p></a> 
                {% with strUser=chirp.user|stringformat:'s' %}
                    {% if currentUser == strUser %}
                <span style="float: right;"><a href="#"><i class="fa-solid fa-pen-to-square"></i></a></span>
                    {% endif %}
                {% endwith %}
                <li class="list-none text-base mb-2">{{ chirp.chirp }}</li>
                <p class="text-gray-600 text-xs py-2">{{ chirp.date }} | {{ chirp.time }}<span style="float: right">{{ chirp.likes }} likes</span></p>
            </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </section>
        <div>
            <span class="step-links pagination">
                {% if pageObj.has_previous %}
                <ul class="pagination">
                <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ pageObj.previous_page_number }}">previous</a></li>
                </ul>
                {% endif %}
        
                <span class="current p-2">
                    <b>Page {{ pageObj.number }} of {{ pageObj.paginator.num_pages }}</b>  
                </span>
        
                {% if pageObj.has_next %}
                <ul class="pagination">
                <li class="page-item"><a class="page-link" href="?page={{ pageObj.next_page_number }}">next</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ pageObj.paginator.num_pages }}">last &raquo;</a></li>
                </ul>
                {% endif %}
            </span>
        </div>
    </main>
{% endblock %}