html {
    font-size: 16px;
}

.regularForm {
    width: fit-content;
    border-bottom: 2px solid rgba(128, 128, 128, 0.4);
}

#mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#chirperFormContainer {
    display: flex;
    justify-content: center;
}

#chirperButton {
    float: right;
}

#chirperButton:hover {
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.readChirpsContainer {
    min-width: 32rem;
}

#profileMainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#introHeader {
    display: flex;
    align-self: flex-start;
    margin-left: 10%;
}

#profilePicture {
 border-radius: 50%;
 max-width: 15rem;
 margin: 5% 2%;
}

.chirpProfilePicture {
    display: inline-block;
    border-radius: 50%;
    max-width: 2.2rem;
}

#profileInfo {
    font-size: 1.2rem;
    margin-top: 5%;
}