html {
    font-size: 16px;
}

body {
    background-color: #d4f4fc;
}

#logoImg {
    max-width: 18rem;
    margin-left: 8%;
}

#mainNavigationLinksContainer {
    margin-left: 3%;
}

.aNav {
    position: relative;
    text-decoration: none;
    color:inherit;
    transition: 0.3s;
}
  
.aNav:hover {
    opacity: 0.7;
}
  
.aNav:active {
    opacity: 0.3;
}
  
.aNav:after {
    position: absolute;
    content: "";
    background-color: rgba(245, 91, 91, 0.473);
    height: 0.2rem;
    width: 0;
    left:0;
    bottom: -0.1rem;
    transition: 0.4s;
}
  
.aNav:hover:after {
    width: 100%;
}

.regularForm {
    width: fit-content;
    border-bottom: 2px solid rgba(128, 128, 128, 0.4);
}

#mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#chirperFormContainer {
    display: flex;
    justify-content: center;
}

#chirperButton {
    float: right;
}

#chirperButton:hover {
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.readChirpsContainer {
    max-width: 32rem;
}

#profileMainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#introHeader {
    display: flex;
    align-self: flex-start;
    margin-left: 10%;
}

#profilePicture {
 border-radius: 50%;
 max-width: 15rem;
 margin: 5% 2%;
}

.chirpProfilePicture {
    display: inline-block;
    border-radius: 50%;
    max-width: 2.2rem;
    height: auto;
    object-fit: cover;
    overflow: hidden;
}

#profileInfo {
    font-size: 1.2rem;
    margin-top: 5%;
    margin-left: 6%;
}

#followButton {
    margin-top: 5%;
    margin-left: 1rem;
}

#followProfile {
    width: 14.5rem;
}

#editProfileButton {
    margin-top: 5%;
    cursor: pointer;
}

#profileIcon {
    font-size: 1.5rem;
}

.logInAndOut {
    display: flex;
    flex-direction: column;
    align-items: center;
}